<% var params = templateParams; var patch = params.patch;var data = params.data
%>
<meta charset="UTF-8" />

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
/>
<title>enext-wpp - challenge-two - mauricio cesar [mau.brsp@gmail.com]</title>
<meta name="author" content="enext-wpp" />
<meta name="description" content="enext-wpp" />
<meta name="keywords" content="enext-wpp" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<meta name="msapplication-TileColor" content="#9f00a7" />
<meta name="theme-color" content="#ffffff" />

<style type="text/css">
  html {
    background-color: white;
    font-family: 'Source Sans Pro';
  }

  body {
    min-width: 650px;
    overflow: auto;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: 'Source Sans Pro';
  }

  .loader {
    position: relative;
    width: 64px;
    height: 64px;
    z-index: 99999;
  }

  .loader::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 120vh;
    background-color: #777777;
    left: 0px;
    top: -15vh;
    z-index: -1;
  }
  .loader div {
    position: absolute;
    top: 35vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader div:nth-child(1) {
    left: 45vw;
    animation: loader1 0.6s infinite;
  }
  .loader div:nth-child(2) {
    left: 45vw;
    animation: loader2 0.6s infinite;
  }
  .loader div:nth-child(3) {
    left: 50vw;
    animation: loader2 0.6s infinite;
  }
  .loader div:nth-child(4) {
    left: 55vw;
    animation: loader3 0.6s infinite;
  }
  @keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(5vh, 0);
    }
  }
</style>
